.dashboard{
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    grid-column: 2 / 4;
    gap: 1rem;
}

.dashboard > .main{
    display: flex;
    flex-direction: column;
}

.dashboard > .main > .profile{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2rem;
    margin: 1rem;
}

.dashboard > .main > .profile > img{
    width: 6rem;
    border-radius: 50%;
}

.dashboard > .main > .profile > .info{
    font-size: large;
    width: fit-content;
}

.dashboard > .main > .profile > .info > ul{
    list-style: none;
    display: grid;
    grid-template-columns: .5fr auto 1fr;
    gap: 5px;
    justify-content: center;
}

.dashboard > .main > .events{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2rem;
    margin: 1rem;
}

.dashboard > .main > .events  .event-card{
    padding: 3rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    transition: .4s;
    cursor: pointer;

}

.dashboard > .main > .events  .event-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}