.about-container > .about > section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
    margin-left:70px;
    justify-content: center;
    /* justify-items: center; */
    position: relative;
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 2rem; */
   
    background-color: var(--secondary);
  }


  .about-container > .about .mech{
    width:1320px;
    height: 600px;
   border-radius: 20px;
    box-shadow: inset 4px 4px 8px 4px rgb(189, 186, 186 , 0.20);
    /* box-shadow: 4px 4px rgba(0, 0, 0, 0.20)  0.25em ,  0 0 0 rgba(0, 0, 0, 0.20) 0.25em ; */
    background-color: #F4F4F4;
    
  } 

  .about-container > .about .mech .details{
    margin-left:60px;
    margin-top: 60px;
    width:700px
  }
  .about-container > .about .mech .details h1{
    color:black
  }
  .about-container > .about .mech .details p
  {
    color:#484D57;
  }
  .about-container > .about > section div h1{
    font-size: 36px;
    line-height: auto;
    letter-spacing: 0%;
    color:var(--tertiary);
    font-weight: bolder;
  }
  .about-container > .about > section div p{
    margin-top:35px;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 5%;
    width:600px;
    color:var(--textcolor);
  }
  .about-container > .about > section .logo {
    width:415px;
    height:108px;
    margin:auto;
    
  }
  .about-container > .about .vismis{
  display:grid;
  column-gap: 90px;
  margin-right:60px;
  }

  .about-container > .about > section .logomech img{
    position: absolute;
    top:90px;
    right:50px;
    width: 30rem;
    margin-left: 90px;
  }

  .about-container > .about .vismis .vis p{
    width: 500px;
  }
  .about-container > .about .abouts{
    background-color: #B1E9D8;
  }

  .about-container > .about .sectionimg{
 display: flex;
 flex-direction: row;
 gap: -30px;
 height: 600px;
 margin-right:200px;
 margin-left: 150px;
 margin-top: 70px;


  }
  /* .about-container > .about .sectionimg div .txt h3{
    display: inline;

  } */
  .about-container > .about .sectionimg div{
    text-align: center;
    margin: auto auto;
    margin-bottom: 35px;
  }
  .about-container > .about .sectionimg .ab1,
  .about-container > .about .sectionimg .ab2,
  .about-container > .about .sectionimg .ab4,
  .about-container > .about .sectionimg .ab5
  {
    position: absolute;
    top:1260px
  }
  .about-container > .about .sectionimg .ab5{
    right:200px
  }
  .about-container > .about .sectionimg .ab4{
    right:450px
  }
  .about-container > .about .sectionimg .ab2{
   right:900px
  }
  .about-container > .about .sectionimg .ab1{
    right:1160px
  }

  .about-container > .about .sectionimg div .img{
    width:150px;
    height:150px;
    object-fit: contain;
    transform: (100, 100);
   
  }
  .about-container > .about .sectionimg div .txt{
    width:200px;
    margin-top: -10px;
  }
  .about-container > .about .sectionimg div .img1 img{
    width:250px;
    height: 250px;
    
  }
  .about-container > .about .sectionimg .centralimg{
    /* margin-top:35px */
    position:absolute;
    top:960px;
    right:650px;
  }


  
/* 
  .about-container{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  }
  .about-container  > .about h2{
    color: var(--tertiary);
    font-size: 1.4rem;
  }
  .about-container > .about p{
    color: var(--textcolor);
    font-size: 1.1rem;
  }

  .about > section .details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about > section .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about > section .logo > img{
    width: 20rem;
   
  }

  .about-container > .footer{
    padding: 1rem;
    
  }

  .about-container > .about{
    background-color: var(--secondary);
  }

  .about-container hr{
    margin: 0rem 2rem;
  }
  .about-container .footer::before{
    width: 90%;
}
.about-container > .about > .sectionimg{
  display: grid;
   
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));; 
    margin: 1rem;
    justify-content: center;
    justify-items: center;
    position: relative;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 2rem;
    align-items: center;
    background-color: var(--secondary); 
}


.about-container > .about > .sectionimg >div{
  text-align: center;
  
  
}
.about-container > .about > .sectionimg >div .img img{
  width: 80px;
  height: 80px;
  object-fit: contain;
  /* mix-blend-mode: darken; 
}
.about-container > .about > .sectionimg >div .txt h3{
  color:var(--tertiary);
}



 
  } */




  @media only screen and (max-width: 840px){
    .about-container > .about > section{
        grid-template-columns: 1fr;
      }
    
      .about-container > .about > section > .details > h2{
        font-size: 1.2rem;
      }
    
      .about-container > .about > section > .logo > img{
        width: 15rem;
      }
    
        .about-container >  .about > section > .details{
        padding: 1rem;
        max-width: 100%;
        grid-row: 2 / 3;
      }
  }


  @media only screen and (max-width: 425px){
    .about-container > .about > section{
      padding: 10px;
    }
    .about-container > .about p{
      font-size: 14px;
    }
  }

  .card-conti{
     display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
    padding: 1rem;
    margin: 2rem; 
    height:450px
  }


  .card-conti img{
    border-radius: 80%;
    width:150px;
    height: 150px;
    position: absolute;
  }
  .card-conti .img1{
    top:0px;
    right:290px;
  }
  .card-conti .img2{
    top:250px;
    right:80px
  }
  .card-conti .img3{
    top:160px;
    right:240px;
  }

  .card-conti .img4{
    top:250px;
    right:500px
  }
  .card-conti .ctimg{
    width:250px;
    height:250px;
  }
  
  
  .contri{
   font-size: 40px;
   margin-top:170px;
   color:var(--tertiary)
  }