.App > .nav{
    padding: .5rem 0;
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    position: fixed;
    width: 100%;
    z-index: 3;
    backdrop-filter: blur(6px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(64, 88, 118, 0.537);
    gap: 1rem;
    transition: .4s;
}

.App > .nav .options{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    justify-self: left;
  }
  
  .App > .nav .links{
      display: flex;
      gap: 50px;
      align-items: center;
  }
  
  .App > .nav a > #logo{
      width: 4rem;
      margin-left: 1rem;
  }
  
  .App > .nav .links > ul{
      list-style: none;
      display: flex;
      gap: 20px;
      color: white;
      align-items: center;
  }
  
  .App > .nav  .links > ul > li{
      display: inline-block;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
  }
  
  .App .nav > .left{
    display: flex;
    gap: 20px;
    justify-self: right;
  }
  
  .App > .nav  .links > ul > li::before{
      transition: 300ms;
      height: 2px;
      content: "";
      position: absolute;
      background-color: #006aff;
      width: 0%;
      margin-top: 20px;
  }
  
  .App > .nav  .links > ul > li:hover:not(#bell){
      color: #006aff;
  }
  
  .App > .nav  .links > ul > li:hover::before{
      width: 100%;
  }
  
  #after{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  #offer::after{
    content: ">";
    margin-left: 5px;
    display: inline-block;
    transform: rotate(90deg);
  }
  
  .App > .nav .drop-menu{
    position: relative;
    display: none;
    transition: .3s;
  }
  
  .App > .nav .drop-menu > ul{
    list-style: none;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    overflow: hidden;
    background-color: #f5f5f5;
  }
  
  .nav.offer .drop-menu > ul > li{
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  
  .nav.offer .drop-menu > ul > li.clicked::after{
    content: "";
    background-color: #0055cc;
    height: 3px;
    position: absolute;
    width: 80%;
    bottom: 0;
  }
  
  .nav .drop-menu > .lists{
    display: flex;
    overflow-y: auto;
    height: 100%;
  }
  
  .nav .drop-menu > .lists > div{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    width: 100%;
  }
  
  .nav.offer .drop-menu > .lists ul{
    list-style: none;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  
  .nav.offer .drop-menu > .lists ul::after{
    content: "";
    background-color: #484d576b;
    position: absolute;
    right: -3px;
    height: 90%;
    width: 1px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  
  .nav.offer .drop-menu > .lists ul > li{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: .2s;
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    padding-right: 3rem;
  }
  
  .nav.offer .drop-menu > .lists ul > li:hover{
    background-color: #006aff;
    color: white;
  }
  
  .nav.offer .drop-menu > .lists ul > li:hover::after{
    content: ">";
    margin-left: auto;
    position: absolute;
    font-weight: 500;
    font-size: 1.2rem;
    animation-name: swing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    font-family: cursive;
  }
  
  .nav.offer .drop-menu{
    display: flex;
    grid-column: 1 / 4;
    transition: .3s;
    padding: .5rem;
    padding-top: 1rem;
    flex-direction: column;
    gap: 10px;
    width: 80vw;
    background-color: white;
    overflow-y: auto;
    height: 100%;
  }
  .nav.offer .links .link.offer  #offer::after{
    transform: rotate(-90deg);
  }
  
  .nav.offer{
    display: grid;
    row-gap: 15px;
    justify-items: center;
    justify-content: center;
    height: 90vh;
    grid-template-rows: auto 1fr;
  }
  
  .nav.offer .drop-menu > .lists .cards{
    background-color: white;
    border-radius: 10px;
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    align-content: flex-start;
    overflow-y: auto;
  }
  
  .nav.offer .drop-menu > .lists .cards::-webkit-scrollbar{
    display: none;
  }
  
  .nav.offer .drop-menu > .lists .cards > .card{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .2s;
    color: #727984;
  }
  
  .nav.offer .drop-menu > .lists .cards > .card > .body > h4{
    color: #484D57;
    font-size: 15px;
    text-transform: uppercase;
  }
  
  .nav.offer .drop-menu > .lists .cards > .card > .body > p{
    color: #727984;
    font-size: 12px;
  
  }
  
  /* .nav.offer > .drop-menu > .lists .cards > .card:hover{
  transform: translateY(-8px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;   
  } */
  
  .nav.offer .drop-menu > .lists .cards > .card > img{
    width: 100%;
    align-self: center;
  }
  
  .nav.offer .drop-menu > .lists .cards > .card > .body{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .5rem;
    height: 100%;
  }
  
  .nav.offer .drop-menu > .lists .cards > .card > .body > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
  }
  
  .App > .nav .account{
      display: flex;
      color: white;
      align-items: center;
      gap: 10px;
      margin-right: 1rem;
      position: relative;
      justify-content: flex-end;
  }
  
  .App > .nav .account > .options{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    display: none;
    gap: 7px;
    position: absolute;
    width: max-content;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  } 
  .App > .nav  .account.clicked > .options{
    display: flex;
  }
  .App > .nav .account > .options > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .App > .nav .account > .options > h3{
    margin: 10px 20px;
  }
  .App > .nav .account > .options > ul > li{
    padding: .5rem;
    cursor: pointer;
    padding: 10px 20px;
    transition: .2s;
  }
  
  .App > .nav .account > .options > ul > li:hover:not(span){
    background-color: #0055cc;
    color: white;
  }
  
  .App > .nav .account img{
    cursor: pointer;
    width: 3rem;
    border-radius: 50%;
  }
  
  .App > .nav .account > button {
      --color: #fff;
      font-family: inherit;
      display: inline-block;
      width: 5em;
      height: 2.6em;
      line-height: 2.5em;
      overflow: hidden;
      font-size: 13px;
      z-index: 1;
      color: var(--color);
      border: none;
      border-radius: 6px;
      position: relative;
      background-color: #006aff;
      cursor: pointer;
    }
  
    .App > .nav .account > button:hover{
      background-color: #0055cc;
    }
    
    .App > .nav .account > button::before {
      position: absolute;
      content: "";
      background: var(--color);
      width: 150px;
      height: 200px;
      z-index: -1;
      border-radius: 50%;
    }
    
    .App > .nav .account > button:before {
      top: 100%;
      left: 100%;
      transition: .3s all;
    }
  
    .nav.offer > .right{
      grid-column: 3 / 4;
    }
  
    .App .nav > .right{
      display: flex;
      align-items: center;
      gap: 20px;
    }

    @media only screen and (max-width: 840px){
        .App > .nav .options > .links > ul{
         display: none;
       }
   
        .App > .nav #menu{
         display: block;
         font-size: 40px;
       }
   
        .App > .nav a > #logo{
         width: 3rem;
       }
   
        .App > .nav {
         justify-content: space-between;
       }
   
        .App > .nav .account{
         margin-left: auto;
       }
   
       .App .nav > .right{
         justify-self: right;
       }
   
        .App > .nav.toggle .options{
         justify-content: start;
         padding: 15px;
         gap: 1rem;
         justify-self: center;
       }
   
        .App > .nav.toggle {
         align-items: start;
         display: grid;
         grid-template-columns: .5fr 1fr 1fr;
         align-items: center;
         column-gap: 10px;
       }
   
        .App > .nav.toggle span{
         grid-column: 3 / 4;
         grid-row: 1 / 2 ;
       }
   
        .App > .nav.toggle .options ul{
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 1.5rem;
       }
   
        .App > .nav.toggle .right{
         display: flex;
         grid-column: 2 / 4;
         grid-row: 1 / 2;
         margin-right: 0;
         justify-self: right;
   
       }
        .App > .nav.toggle .options > .links{
         flex-direction: column;
         align-items: start;
         margin: 0 auto;
       }
      .App > .nav.toggle .options{
         flex-direction: column-reverse;
         grid-column: 1 / 4;
         grid-row: 2 / 3;
       }
   
       .App > .nav.offer .drop-menu .courses, .nav .drop-menu > .lists > .events{
         display: grid;
         grid-template-rows: auto 1fr;
         grid-template-columns: 1fr;
       }
   
       .App > .nav.offer .drop-menu .courses ul, .nav .drop-menu > .lists > .events ul{
         display: flex;
         flex-direction: row;
         overflow-y: scroll;
       }
   
       .App > .nav.offer .drop-menu .courses ul::-webkit-scrollbar, .nav .drop-menu > .lists > .events ul::-webkit-scrollbar {
         display: none;
       }
   
       .App > .nav.offer .drop-menu .courses ul::after, .nav .drop-menu > .lists > .events ul::after{
         content: none;
       }
   
       .App > .nav.offer .drop-menu .courses .cards, .nav .drop-menu > .lists > .events .cards{
         overflow-x: auto;
       }
   
       .nav.offer .drop-menu > .lists ul > li{
         font-size: 13px;
         white-space: nowrap;
       }
    }