.gc{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    gap:15px;

}
.schdat{
    display: grid;
    grid-template-columns: 1fr 170px;
    gap:10px;
    color:var(--secondary);
}
.sch{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    font-size: 18px;
    border-radius: 30px;
    text-align: center;
    padding: 10px; 
    /* vertical-align: middle; */
    height: 40px;
    color: white !important
}
.dat{
    background-color:var(--primary);
    font-size: 18px;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important
}