.wrapper-reg{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
    background: rgba(0,0,0,.5);
}

.blocker {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background-color: none;
}