.enroll-div{
    height: 77%;
    width: 36%;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    position: relative;
    align-items: center;
    background-color: var(--secondary);
    padding: 1rem 1rem;
    border-radius: 5px;
    z-index: 11;
}
.card h5{
    color:var(--tertiary);
}
.inp-form label{
    color:var(--tertiary);
}
.inp-form2 label{
    color:var(--tertiary);
}
.enroll-div h1 , h4{
    color:var(--tertiary);
}

.enroll-div h1{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.enroll-div p > span{
    padding: .4rem;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--secondary);
}

.enroll-div .card{
    display: flex;
    flex-direction: column;
    font-size: 17px;
    border-radius: 10px;
    
}

.enroll-div .card form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:var(--tertiary);
    background-color: var(--secondary);
}

.enroll-div .card .inp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgb(182, 182, 182);
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 10px;
    
}

#range{
    position:absolute;
    width:40px;
    height:25px;
    right: 5px;
    top:7px
}
.enroll-div .card .inp > label{
    width:200px
}
.enroll-div .card .inp > label > span{
    font-weight: bold;
}

.enroll-div .buy{
    position: absolute;
    padding: .5rem 1.4rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
    /* margin:  1rem auto; */
    transition: .2s;
    display: inline-block;
    box-sizing: border-box;
    transition:0.2s;
    top: 90%;
    right: 4%;
}

.enroll-div .inp .field, .enroll-div .inpt .field{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    
}
.enroll-div .coup{
    margin-top: 50px;
}
.enroll-div .inp .field input,.enroll-div .inpt .field input{
    font-size: large;
    padding: 0; 
}


.enroll-div .inp .field button , .enroll-div .inpt .field button{
    padding: .5rem 1rem;
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
    margin-left: -15px;
    width:80px
   
}

.enroll-div  .buy:hover{
    color:var(--tertiary);
    background-color: var(--btnhover);
}

.enroll-div .btn span{
    /* width:40px;
    height:40px; */
    align-self: end;
    margin-left: 10px;
  margin:5px 5px;
  color:var(--primary);
}
.enroll-div .btn span:hover{
    cursor: pointer;
}

.enroll-div .inp-form{
    display: grid;
    padding: 2rem 0.4rem;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
    width: 38%;
}
.enroll-div .inp-form2{
    display: grid;
    padding: 2rem 0.4rem;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
    width: 38%;
}

.enroll-div .inp{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
   
}
.enroll-div .inpt
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.enroll-div .inp > input[type = "text"],
.enroll-div .inp > input[type = "email"],
.enroll-div .inp > select,
.enroll-div .inp > textarea{
    padding: 5px;
    border: 1px solid#CACACA;
    border-radius: 5px;
    font-size: medium;
}
.enroll-div .inp #em{
    color:black;
}

.enroll-div .inpt > input[type = "text"],
.enroll-div .inpt > input[type = "email"],
.enroll-div .inpt > select,
.enroll-div .inpt > textarea{
    padding: 5px;
    border: 1px solid#CACACA;
    border-radius: 5px;
    font-size: medium;
    margin-bottom: 20px;
}
.enroll-div .inp > input[type = "email"]
{
    color: #00B17B;
}

.enroll-div .inpt > input[type = "text"]{
    color:#00B17B;
    width: 130px;
    height:25px;
    
}
.enroll-div .lft{
    margin-left:50%;
}
.enroll-div .hours{
    text-align: center;
}

.enroll-div > .btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.totalamount{
     margin-top: 110px;
}
.totalamount .ta{
    padding: 5px;
    border: 1px solid#CACACA;
    border-radius: 5px;
    font-size: medium;
    width:150px
}
.enroll-div .inp > button{
    position: absolute;
    padding: .7rem 2rem;
    margin: 0 auto;
    top: 170%;
    align-self: flex-end;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 1.6rem;
}


@media only screen and (max-width: 840px){
    .enroll-div .inp-form {
        display: grid;
        padding: 2rem 4rem;
        grid-template-columns: 1fr 1fr ;
        gap: 20%;
        width: 45%;
       
    }
    .enroll-div h1 {
        font-size: 1rem;}

    .enroll-div {
        overflow-y: auto;
       width:77%;
       height:44%
    }
    .enroll-div .inp-form2{
        display: grid;
        padding: 2rem 4rem;
        grid-template-columns: 1fr 1fr ;
        gap: 9%;
        width: 45%;
    }
    .totalamount {
        margin-top: 30px;
    }
    .enroll-div .lft {
        margin-left: 102px;
    }

    .enroll-div .buy {
        font-size: 16px;
        font-weight: 200;
        top: 79%;
        right: 18%;
    }

    .enroll-div .coup {
        margin-top: 29px;
    }

}

@media only screen and (max-width: 420px){
    .enroll-div .inp-form {
        display: grid;
        padding: 2rem 4rem;
        grid-template-columns: 1fr ;
        gap: 10%;
        width: 45%;
       
    }
    .enroll-div h1 {
        font-size: 1rem;}

    .enroll-div {
        overflow-y: auto;
       width:77%;
    }
    .enroll-div .inp-form2{
        display: grid;
        padding: 2rem 4rem;
        grid-template-columns: 1fr ;
        gap: 9%;
        width: 45%;
    }
    .totalamount {
        margin-top: 30px;
    }
    .enroll-div .lft {
        margin-left: 3px;
    }

    .enroll-div .buy {
        font-size: 16px;
        font-weight: 200;
        top: 227%;
        right: 18%;
    }

    .enroll-div .coup {
        margin-top: 29px;
    }

}

