#privacy{
    padding: 80px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--tertiary);
}

#privacy > p{
    font-size: 17px;
    color:var(--textcolor);
}

#privacy .content > li{
    list-style-type: none;
}


#privacy > .content h3{
    color: var(--tertiary);
    border-radius: 10px;
    font-size: 20px;
    display: inline-flex;
    font-weight: normal;
}

#privacy > .content h2{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

#privacy > .content{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 10px;
}

#privacy > .content .sub-topic{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 20px;
}

#privacy > .content .sub-topic .paras{
    flex-direction: column;
    gap: 10px;
    display: flex;
    margin: 10px 0;
    color:var(--textcolor);
}

#privacy > .content .sub-topic > li{
    list-style-type: square;
}