.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    padding-top: 3rem;
}

.main-section > .card-container{
    display: flex;
    justify-content: center;
}

.main-section .title{
    display: block;
}
.main-section .title h1{
    display: block;
   
    font-size: 55px;
     line-height: 113%; 
    font-weight: 600;
    /* margin: 2rem 0; */
    text-transform: uppercase;
}
.main-section .subtitle{
    font-size: 35px;
    margin-bottom: 10px;
}
.main-section .title p{
    /* margin: 5px; */
    /* font-size: medium; */
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
}

.main-section .btn{
    padding: .8rem 4rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
    margin:  1rem auto;
    transition: .2s;
    display: inline-block;
    box-sizing: border-box;
}

.main-section .titleimage{
    /* display: inline; */
    flex:1;
    margin-top: 40px;
    width: 40%;
    

}
.main-section .image{
    width: 600px;
    border-radius: 10px;
    /* margin-left: 50px; */
    margin-top: 70px;
    height: 300px;
    mix-blend-mode: darken;
    
}
/* .image:hover{
    cursor: pointer;
    transition: .5s;
    box-shadow: 5px 5px grey;
} */

@media only screen and (max-width: 1024px){
    .main-section .title h1{
        font-size: 40px;
    }
    .main-section .subtitle{
        font-size: 26px;
    }
    .main-section .title p{
        font-size: 14px;
    }
    .main-section .btn{
        padding: .7rem 3rem;
        font-size: 18px;
    }
    .main-section .card-event > img{
        width: 250px;
    }
    .main-section .card-event > button{
        padding: .7rem 3rem;
        font-size: 18px;
    }
    .main-section .card-event > .card-body > h3{
        font-size: 17px;
    }
    .main-section .card-event > .card-body h4{
        font-size: 15px;
    }
    .main-section .card-event > .card-body p{
        font-size: 13px;
    }
}

@media only screen and (max-width: 860px){
    .main-section{
        grid-template-columns: 1fr;
    }
}