.terms-page{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    background-color: var(--secondary);
    max-width: 80%;
    border-radius: 5px;
}

.terms-page > .upper > h3{
    color: var(--primary);
}

.terms-page > .upper > span{
    border: 2px solid var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}

.terms-page > .upper > span:hover{
    background-color: var(--primary);
    color: var(--secondary);
}

.terms-page > .upper{
    display: flex;
    justify-content: space-between;
}