.side-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    transition: .5s;
    background-color: var(--secondary);
    padding: 10px 0px;
    grid-column:  1 / 2;
    z-index: 3;
}

.side-menu > h2{
    padding: 0rem 1rem;
    padding-top: 1rem;
}

.side-menu > .menu-options{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 15px;
    position: relative;
}

.side-menu > .menu-options > a{
   padding: .5rem 1.2rem;
   cursor: pointer;
   display: flex;
   align-items: end;
   gap: 1rem;
   
}
.side-menu > .menu-options > a > span{
    font-size: 20px;
}

.side-menu > .menu-options > a:hover{
    background-color: var(--primary);
    color: var(--secondary);
}

.side-menu  hr{
    width: 85%;
    margin: .5rem auto;
    opacity: .5;
}

.side-menu > .menu-options > h3{
    color: rgba(0, 0, 0, 0.423);
    margin: .5rem 1.2rem;
    font-size: 13px;
}

#back{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
}

.index-toggle{
    grid-template-columns: 220px 1fr !important;;
}

.disable{
    display: none !important;
}



.min-menu{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: .2rem;
}

.min-menu span{
    font-size: 30px;
}

.min-menu > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    padding: .5rem;
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0);
}
.min-menu > a:hover{
    box-shadow: var(--primary)  0px 0px 0px 1.5px;
}

.min-menu > .link.clicked{
    border: 2px solid var(--primary) !important;
}
.menu-options > .min-link.clicked{
    background-color: var(--primary);
    color: var(--secondary);
}


.min-menu > a > p{
    font-size: small;
    font-weight: bold;
}

.menu-options > .sub:hover{
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}

.menu-options .cover{
    position: absolute;
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
    top: 160px;
    display: flex;
    justify-content: center;
}

.menu-options > .cover > button {
    --color: #fff;
    font-family: inherit;
    display: inline-block;
    width: 5em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    font-size: 13px;
    z-index: 1;
    color: var(--color);
    border: 1px solid rgb(145, 145, 145);
    border-radius: 6px;
    position: relative;
    background-color: var(--primary);
  }

  .menu-options > .cover > button:hover{
    background-color: #0055cc;
  }
  


@media only screen and (max-width: 650px) {
    .min-menu{
        display:none !important;
    }
    .side-menu{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: start;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.514);
        display: none;
        padding: 0;
    }

    .border{
        display: flex !important;
    }

    .index-toggle{
        grid-template-columns: 1fr !important ;
    }

    .menu-options{
        display: flex !important;
        flex-direction: column;
        width: fit-content !important;
        background-color: var(--primary);
        top: 51.49px;
        height: -webkit-fill-available;
        position: absolute !important;
        padding-top: 20px;

    }
    .menu-options > a:hover{
        box-shadow:unset;
    }
    .menu-options > a:active{
        box-shadow: rgba(156, 191, 255, 0.584) 0px 0px 0px 4px
    }

}
