.register-form{
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 10px;
    z-index: 4;
    margin: 1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    z-index: 11;
}

.register-form > h3{
    font-size: 35px;
    margin: 0 auto;
    color:var(--tertiary);
}

.register-form .error{
    margin: 0 auto;
}

.register-form label{
    font-size: 20px;
    color:var(--heading);
}

.register-form > form form{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
}
.register-form > form h3{
    color:var(--tertiary);
}


.register-form  > form{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: 2px;
}

.no-arraow > input::-webkit-outer-spin-button,
.no-arrow > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-arrow > input[type=number] {
  -moz-appearance: textfield;
}

.register-form > form .input-div{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 5px;
    padding: 5px;
    align-items: center;
    font-size: large;
}

.register-form > form .terms{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 1rem;
}

.register-form > form .input-div .error{
    grid-column: 3 / 4;
}

.register-form > form .input-div > input[type = "text"],
.register-form > form .input-div > input[type = "number"],
.register-form > form .input-div > input[type = "tel"],
.register-form > form .input-div > input[type = "password"],
.register-form > form .input-div > input[type = "email"],
.register-form > form .input-div > select,
.register-form > form .input-div > textarea{
    padding: 5px;
    border: 1px solid#CACACA;
    border-radius: 5px;
    font-size: large;
}

.register-form > form input[type = "checkbox"],
.register-form > form input[type = "radio"]{
    cursor: pointer !important;
}

.register-form > form input[type = "submit"]{
    background-color: var(--primary);
    color: var(--secondary);
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 2px solid var(--primary);
    cursor: pointer;
}

.register-form form input:not(:focus):not(:placeholder-shown):invalid {
    border: 2px solid red !important;
  }

.register-form > form .btns{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.register-form > form .btns > .disable-msg{
    position: absolute;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 8px;
    font-size: 13px;
    right: -20px;
    top: -45px;
    z-index: 12;
    border-radius: 5px;
    opacity: 0;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.register-form > form .btns > .disable-msg p{
    z-index: 13;
    position: relative;
}

.register-form > form .btns > .disable-msg::after{
    content: "";
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--primary);
    position: absolute;
    transform: rotate(45deg);
    z-index: 12;
    bottom: -5px;
    right: 16px;
}

.register-form > form .btns > .disable-msg.show{
    opacity: 1;
}

.register-form > form .members{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-form > form .members > .members-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.register-form > form .members > button{
    padding: .6rem 1rem;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    cursor: pointer;
    margin-right: auto;
    transition: .3s;
}

.opacity{
    opacity: .5;
}

.register-form > form .members > button:hover{
    background-color: var(--secondary);
    color: var(--primary);
}

.register-form > form .members > .members-container > .member{
    padding: .5rem;
    border: 1px solid var(--primary);
    display: flex;
    gap: 10px;
    border-radius: 5px;
    align-items: center;
}

.register-form > form .members > .members-container > .member > span{
    color: red;
    cursor: pointer;
    transition: .3s;
}

.register-form > form .members > .members-container > .member > span:hover{
    transform: scale(1.2);
}

.register-form > form .cntrl{
    padding: .6rem 1rem;
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--primary);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    align-self: end;
}

.register-form > form .btns > .cntrl:hover{
    background-color: var(--btnhover);
    color: var(--primary);

}

.register-form > form input[type = "submit"]:hover{
    background-color: var(--secondary);
    color: var(--primary);
    transition: .3s;
}

#terms{
    color: var(--primary);
    cursor: pointer;
}

.register-form > .wrapper{
    background-color: rgba(0, 0, 0, 0.53);
}

.clbt{
    width: 40px;
    height:40px;
     align-self: end;
}

@media only screen and (max-width: 768px){
    .register-form{
        width: 90%;
    }
    .register-form > form .input-div{
       display: flex;
       flex-direction: column;
       align-items: start;
    }
    .col{
        display: none;
    }
    .register-form > form .input-div > input[type = "text"],.register-form > form .input-div > input[type = "date"], .register-form > form .input-div > input[type = "number"], .register-form > form .input-div > input[type = "tel"], .register-form > form .input-div > input[type = "password"], .register-form > form .input-div > input[type = "email"], .register-form > form .input-div > select, .register-form > form .input-div > textarea{
        width: 100%;
    }
}