.sower {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    width: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: var(--secondary);
    margin-top: 80px;
    gap: 40px;
}

.sower > .hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    background-color: var(--secondary);
    padding: 1rem 2rem;
}

.sower > .hero > .right > img{
    width: 470px;
}


.sower > .hero > .left{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}
.sower > .hero > .right{
    justify-self: center;
    padding: 3rem;
}

.sower > .hero > .left .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 5rem;
    gap: 40px;
}

.sower > .hero > .left > img{
    width: 180px;
}

.sower > .hero > .left .title > h1{
    color: var(--primary);
    font-size: 50px;
}

.sower .sower-btn{
    background-color: var(--primary);
    color: white;
    padding: 1rem 3rem;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.sower > .description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    gap: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sower > .description .left img{
    width: 300px;
}

.sower > .description .left{
    padding: 4rem;
}

.sower > .description .right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.sower h2{
    color: var(--primary);
    font-size: 40px;
}

.sower > .description ul{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1rem 2rem;
}

.sower > .description ul > li{
    color: var(--tertiary);
    font-size: 20px;
}

.sower > .details{
    display: flex;
    flex-direction: column;
}

.sower > .details > h2, .sower > .steps > h2{
    margin: 0 auto;
}

.sower > .details > .lists{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 100px 150px;
}

.sower > .details > .lists .card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sower > .details > .lists .card img{
    width: 100px;
}

.sower h3{
    color: var(--primary);
    font-size: 25px;
}

.sower > .details > .lists .card p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.544);
}

.sower > .steps{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;
    align-items: center;
}
.sower > .steps > .lists{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.sower > .steps > .lists .card{
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.sower > .steps > .lists .card img{
    width: 70px;
}

.sower .footer::before{
    width: 90%;
}

.sower .footer > p{
    color: var(--primary);
}

.apply-now{
    z-index: 11;
    background-color: var(--secondary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 5px;
}

.apply-now form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.apply-now form button{
    background-color: var(--primary);
    color: var(--secondary);
    padding: .5rem 2rem;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.apply-now form p{
    color: red;
}

.apply-now form .mess{
    color:black;
    font-size: 13px
}

.sower > .footer > h2{
    font-size: 25px;
}

@media only screen and (max-width: 1024px){
    .sower > .description .left{
        padding: 1rem;
    }
    .sower > .hero > .right > img{
        width: 350px;
    }
}

@media only screen and (max-width: 850px){
    .sower > .hero > .left .title{
        padding: 0 2rem;
    }
    .sower > .hero > .left .title > h1{
        font-size: 35px;
    }
    .sower .sower-btn{
        font-size: 15px;
    }
    .sower h2{
        font-size: 35px;
    }
    .sower > .description .right{
        gap: 20px;
    }
    .sower > .description ul{
        gap: 10px;
    }
    .sower > .description ul > li{
        font-size: 16px;
    }
    .sower > .description .left img{
        width: 250px;
    }
    .sower > .description{
        gap: 30px;
        padding: 1rem 2rem;
    }
    .sower > .hero > .right > img{
        width: 300px;
    }
    .sower > .steps > .lists{
        grid-template-columns: 1fr;
    }
    .sower > .steps > .lists .card{
        padding: 1rem;
    }
}

@media only screen and (max-width: 768px){
    .sower > .hero > .right{
        padding: 1rem;
    }
    .sower > .description .left img{
        width: 200px;
    }
    .sower > .hero > .right > img{
        width: 200px;
    }
    .sower > .hero > .left > img{
        width: 150px;
    }
    .sower .sower-btn{
        font-size: 12px;
        padding: 1rem 2.5rem;
    }
    .sower h2{
        font-size: 30px;
    }
    .sower > .description{
        padding: 1rem;
    }
}

@media only screen and (max-width: 555px){
    .sower > .description{
        flex-direction: column;
    }
    .sower > .description .right{
        gap: 10px;
    }
    .sower h2{
        font-size: 25px;
    }
    .sower > .description ul > li{
        font-size: 14px;
    }
    .sower > .hero > .left .title{
        padding: 0 1rem;
        gap: 10px;
    }
    .sower > .hero > .left .title > h1{
        font-size: 30px;
    }
    .sower > .details > .lists{
        padding: 1rem;
    }
    .sower > .description .left img{
        width: 150px;
    }
    .sower > .hero > .left > img{
        width: 100px;
    }
}

@media only screen and (max-width: 486px){
    .sower > .hero{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}