.footer, .sower .footer{
    padding: 2rem;
    position: relative;
    padding-bottom: 0;
    background-color: var(--secondary);
  }

  .footer::before, .sower .footer::before{
    content: "";
    display: flex;
    background-color: rgba(133, 133, 133, 0.51);
    width: 99%;
    height: 1px;
    position: absolute;
    inset: 0;
    margin: 0 auto;
  }

  .footer > .links, .sower .footer > .links{
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 1rem;
  }

  .footer > .links > .section >  h3, .sower .footer > .links > .section > h3{
    font-weight: 500;
    font-size: 19px;
    color: var(--subHeading);
  }

  .footer > .links > .section, .sower .footer > .links > .section{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    max-width: 200px;
  }

  .footer > .links > .section li> a:hover, .sower .footer > .links > .section li> a:hover{
    color: var(--primary);
  }

  .footer > .links > .section a, .sower .footer > .links > .section a{
    color: var(--textcolor)
  }

  .footer > .links > .section.get-in-touch li, .sower .footer > .links > .section.get-in-touch li{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .footer > .links > .section.get-in-touch li span, .sower .footer > .links > .section.get-in-touch li span{
    color: var(--primary);
    font-size: 28px;
    
  }

  .footer > .links > .section.get-in-touch ul, .sower .footer> .links > .section.get-in-touch ul{
    gap: 12px;
  }

  .footer > .links > .section.get-in-touch li img, .sower .footer > .links > .section.get-in-touch li img{
    width: 30px !important;
  }

  .footer > .links > .section.get-in-touch li p, .sower .footer > .links > .section.get-in-touch li p{
    font-size: 13px;
    color:var(--textcolor);
  }

  .footer ul, .sower .footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 15px;
  }

  .footer > p, .sower .footer > p{
    text-align: center;
    padding: .7rem;
    color: var(--primary) !important;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer > h2{
    color: var(--primary) !important;
    font-size: 25px;
  }

  @media only screen and (max-width: 1300px){
    .footer > .links, .sower .footer > .links{
      flex-wrap: wrap;
      gap: 20px;

    }
    .footer, .sower .footer{
      padding: 1rem .5rem;
    }
  }

  @media only screen and (max-width: 420px){
    .footer > h2{
      font-size: 18px !important;
    }
    .home > .footer > .links > .section > h3{
      font-size: 16px !important;
    }
    .footer > .links > .section a, .sower .footer > .links > .section a{
      font-size: 14px !important;
    }

    .footer > .links, .sower .footer > .links{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }