.rewarditem{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--primary);
    border-radius:28px ;
    padding: 20px;
  color:var(--secondary);
}

.award-container{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    border-radius: 10px;
    background-color: var(--secondary); 
    gap: 20px;
}

.rn{
    font-size: 26px;
    /* color: white !important */
    color:var(--secondary);
}
.pm{
    font-size: 30px;
    /* color: white !important */
    color:var(--secondary);
}
.pd{
    /* color: white !important */
    color:var(--secondary);
}
.titletrophy{
    display: flex;
    margin: auto;
    gap:17px;
    
}
.awtitle{
   /* display:block;
   text-align: center; */
   margin-top: 50px;
   font-size: 35px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:var(--heading);
}

.tphy{
    
    height: 100px;
    width: 100px;
}

@media only screen and (max-width: 1024px){
    .rn{
        font-size: 22px;
    }
    .pm{
        font-size: 26px;
    }
    .grid-container.award{
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    }
    
}

@media only screen and (max-width: 868px){
    .award-container{
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .rn{
        font-size: 20px;
        font-weight: bold;
    }
    .pm{
        font-size: 24px;
    }
    .rewarditem{
        padding: 20px 15px;
    }
}

@media only screen and (max-width: 425px){
    .rn{
        font-size: 18px;
    }
    .pm{
        font-size: 22px;
    }
    .rewarditem{
        padding: 16px 12px;
    }
    .pd{
        font-size: 14px;
    }
}