.graph-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.graph-container > .feature {
    text-align: center;
    padding: 1rem 2rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.graph-container > .feature > img{
    width: 80px;
}

.graph-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 860px){
    .graph-container{
        display: flex;
        gap: 20px;
        overflow: auto;
        padding: 10px;
        scroll-snap-type: x mandatory;
    }
    .graph-container::-webkit-scrollbar{
        display: none;
    }
    .graph-container > .feature {
        min-width: 200px;
        scroll-snap-align: center;
    }
}