@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}


.App{
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.App > .spinner{
    position: fixed !important;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 5;
  }

a{
    text-decoration: none;
    color: inherit;
}

.index{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 60px auto;
    transition: .5s;
    gap: .5rem;
}

.spinner{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 5;
}

@media only screen and (max-width: 650px) {
    .index{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 0;
        overflow: hidden;
    }

    .splide__arrow svg{
        width: .7rem;
        height: .7rem;
    }
    .splide__arrow{
        height: 1.7em;
        width: 1.7em;
    }
}

.disable-scroll{
    overflow: hidden;
}

