.event-details{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-y: auto;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    padding: 2rem 3rem;
}
.event-details h2{
    font-size: 32px;
    margin:5px 0;
}

.event-details .footer > h2{
    font-size: 25px;
}

.event-details p{
  color: #727984;
}