.events-index{
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    overflow-y: auto;
    grid-column: 2 / 4;
    color: #282828;
}

.events-index > .slides{
    position: relative;
    display: flex;
    justify-content: center;
}

.events-index .splide__arrows > button:hover{
    background-color: #006AFF;
}

.events-index .splide__arrow  svg{
    fill: #fff !important;
}

.events-index > .slides img{
    border-radius: 10px;
}

.events-index > .slides > .splide > div{
    border-radius: 10px;
    overflow-X: scroll;
}
.events-index > .slides > .splide > div::-webkit-scrollbar{
    display: none;
}
.events-index > .slides > .btns{
    position: absolute;
    display: flex;
    align-self: end;
    align-items: end;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 3rem;
}

.events-index > .slides > .btns > button{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #006AFF;
    border: 1px solid #006AFF;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;  
}
.events-index > .slides > .btns > button:hover{
    background-color: #0055CC;
}

.events-index > .slides-explore{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.events-index > .slides-gallery{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0rem 1rem;
}

.events-index > .slides-explore > .title{
    width: 100%;
    font-size: 15px;
}

.events-index > .slides-explore .splide__slide{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

.events-index > .slides-explore img{
    transition: .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.events-index > .slides-explore img:hover{
    transform: scale(1.3);
    filter: drop-shadow();
}

.time-div{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
}
.time-container{
    margin: 2rem 0;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #0055CC;
}

.time-div > div{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    background-color: white;
    color: black;
    height: 60px;
}

.time-div > div > h3{
    font-weight: 100;
    font-size: medium;
}

@media only screen and (max-width: 430px) {
    .events-index{
        grid-row: 2 /4;
        padding: 1px;
    }
    .events-index > .slides > .btns{
        padding-bottom: 20px;
    }
    
    .events-index > .slides > .btns > button{
        font-size: 10px;
        padding: .7rem .9rem;
    }
}