.course-details{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow-y: auto;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    padding: 2rem 3rem;
}

.course-details h2, .course-details h4 {
    color: var(--subHeading);
}

.course-details p, .course-details li{
    color: var(--textcolor);
    list-style-position: initial;
}

.course-details h3{
    color: var(--tertiary);
    
}

.course-details > .hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
    padding-top: 3rem;
    gap: 2rem;
}

.course-details .title > h1{
    font-size: 55px;
    line-height: 113%;
    font-weight: 600;
    margin: 2rem 0;
    text-transform: uppercase;
    color:var(--tertiary);
}

.course-details .title > p{
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
}

.course-details > .hero > .course{
    display: flex;
    justify-content: center;
    
}

.course-details > .hero > .course > .card, .course-details > .explore > .content > .card{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px ;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--secondary);
}

.course-details > .hero > .course > .card > img,  .course-details > .explore > .content > .card img{
    width: 20rem;
    /* mix-blend-mode: darken; */
}

.course-details > .hero > .course > .card > .body,  .course-details > .explore > .content > .card > .body{
    padding: 1rem;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.course-details > .hero > .course > .card > .body > ul,  .course-details > .explore > .content > .card > .body > ul{
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 1rem;
}

.course-details > .hero > .course > .card > .body > h3,  .course-details > .explore > .content > .card > .body > h3{
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 1rem;
}

.course-details > .hero > .course > .card > button, .course-details .title > a,  
.course-details > .explore > .content > .card > button{
    padding: .8rem 4rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--secondary);
    cursor: pointer;
    margin:  1rem auto;
    transition: .2s;
    display: inline-block;
    box-sizing: border-box;

    
}
.course-details .title > a:hover{
    background-color: var(--btnhover);
    color:var(--primary);
}

.course-details > .hero > .course > .card > button:hover:not(.disabledbtn), 
.course-details .title button:hover, 
.course-details > .explore > .content > .card > button:hover:not(.disabledbtn){
    color: var(--primary);
    background-color: var(--btnhover);
}
.course-details > .explore > .content > .card > .disabledbtn,
.course-details > .hero > .course > .card > .disabledbtn{
    color:#727984;
    cursor:context-menu;
}


.fee-li{
    display: inline-grid;
    gap: 10px;
    grid-template-columns: 1fr auto 1fr;
}

.course-details > .about > h2, .course-details > .explore h2, .course-details > .feedback h2, .course-details > .certificate h2{
    font-size: 38px;
    margin: 1rem 0;
}

.course-details > .about > .details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.course-details > .about > .details > .left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}
.course-details > .about > .details > .left > p{
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
}

.course-details > .about > .details > .right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-details > .about > .details > .right > img{
    width: 25rem;
    border-top-left-radius: 90%;
    border-end-end-radius: 90%;
    border-bottom-left-radius: 90%;
    border-top-right-radius: 60%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.course-details > .explore{
    display: flex;
    flex-direction: column;
    position: relative;

}

.course-details > .explore > .content{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    align-items: start;
}

.course-details > .explore > .content > .topics > .main{
    margin: 3rem 0;
}

.course-details > .explore > .content > .topics > .main > h3{
    font-size: 25px;
}

.course-details > .explore > .content > .card{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.course-details > .explore .main > ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.course-details > .explore .main > ol > li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    background-color: var(--secondary);
    border-radius: 10px;
}


.course-details > .explore .main > ol > li > ul{
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 2rem;
    list-style-position: inside;
}

.course-details > .explore .main > ol > li.show > ul{
    display: flex;
}
.course-details > .explore .main > ol > li > h4{
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    color: var(--secondary);
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--primary);

}

.course-details > .explore .main > ol > li.show {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.course-details > .explore .main > ol > li.show > h4{
    box-shadow: none;
}

.course-details > .explore  .main > ol > li > h4::after{
    content: ">";
    display: inline-block;
    transform: rotate(90deg);
    font-size: 1.2rem;
    margin: 0 1rem;
    transition: .3s;
    transform-origin: center center;
}

.course-details > .explore .main > ol > li.show > h4::after{
    transform: rotate(270deg);
}

.course-details > .feedback{
    padding: 0rem 1rem;
    margin: 1rem 0;
    position: relative;
}

.course-details > .feedback > h2{
    margin: .5rem 0;
}

.course-details > .feedback .splide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
}

.course-details > .feedback  .splide__slide{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.course-details > .feedback .info{
    display: flex;
    gap: 5px;
    align-items: center;
}

.course-details > .feedback .info > h4{
    white-space: nowrap;
    font-size: 13px;
}

.course-details > .feedback .info > img{
    width: 5rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;

}

.course-details > .feedback p{
    font-style: italic;
}

.course-details > .certificate {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    position: relative;
}
.course-details > .certificate > .content{
    display: flex;
    gap: 20px;
}

.course-details > .certificate > .content > .details {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.course-details > .certificate > .content > .details > ul{
   display: flex;
   flex-direction: column;
   gap: 20px;
   font-size: 17px;
   padding: 0 1rem;
}

.course-details > .certificate > .content p{
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
}

.course-details > .certificate img{
    width: 20rem;
}

.course-details > .metrics{
    display: flex;
    flex-direction: column;

}
.course-details > .metrics h2{
    margin: 2rem auto;
}
.course-details > .metrics > .content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.course-details > .metrics > .content > .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
}

.course-details > .metrics > .content > .section > h4{
    font-size: 27px;
    color: var(--primary);
}

.course-details > .metrics > .content > .section > span{
    font-size: 4rem;
}

.course-details > .other-courses{
    display: flex;
    flex-direction: column;
}

.course-details > .other-courses > .content{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 3rem 1rem;
    gap: 20px;
}

.course-details > .other-courses .individual{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.course-details > .other-courses .individual > .card{
    padding: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    color:var(--tertiary);
}

.course-details > .other-courses .individual > .card > h4{
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
}

.course-details > .other-courses .divider{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
}

.course-details > .other-courses .circle{
    padding: 1rem;
    background-color: aliceblue;
    display: flex;
    align-self: center;
    border-radius: 50%;
}


.course-details > .other-courses .divider::after, .course-details > .other-courses .divider::before{
    content: "";
    margin: 0 auto;
    border-left: 2px solid rgb(181, 181, 181);
    height: 40%;
}

.course-details > .other-courses .pack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media only screen and (max-width: 1300px){
    .course-details > .other-courses > .content{
        grid-template-columns: 1fr;
    }
    .course-details > .other-courses > .content > #individual{
        grid-row: 1 / 2;
    }
    .course-details > .other-courses > .content > .individual{
        grid-row: 2 / 3;
    }
    .course-details > .other-courses .divider{
        flex-direction: row;
        align-items: center;
        gap: 10px;
        grid-row: 3 / 4;
    }
    .course-details > .other-courses .divider::after, .course-details > .other-courses .divider::before{
        border-left: unset;
        width: 40%;
        height: 1px;
        background-color: var(--tertiary);
    }
}

@media only screen and (max-width: 930px){

    .course-details{
        padding: 2rem;
    }

    .course-details > .hero {
        grid-template-columns: 1fr;
    }

    .course-details > .about > .details {
        grid-template-columns: 1fr;
    }

    .course-details > .explore > .content > .card {
        display: none;
    }

    .course-details > .certificate > .content {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 650px){
    .course-details .title > h1 {
        font-size: 40px;
    }

    .course-details .title > p {
        font-size: 16px;
    }

    .course-details > .hero > .course > .card > button, .course-details .title > a, .course-details > .explore > .content > .card > button {
        padding: 0.6rem 3.5rem;
        font-size: 18px;
    }

    .feedback h2, .course-details > .certificate h2 {
        font-size: 35px;
    }

    .course-details > .explore .main > ol > li > h4 {
        font-size: 17px;
    }

    .course-details > .metrics > .content > .section > h4 {
        font-size: 20px;
    }

    .course-details > .metrics > .content > .section {
        padding: 2rem 1rem;
        text-align: center;
    }
}

@media only screen and (max-width: 470px){

    .course-details{
        padding: 1rem;
    }

    .course-details > .about > .details > .right > img{
        width: 100%;
    }

    .course-details > .about > h2, .course-details > .explore h2, .course-details > .feedback h2, .course-details > .certificate h2 {
        font-size: 32px;
    }

    .course-details > .certificate img {
        width: 100%;
    }

    .course-details > .explore .main > ol > li > h4 {
        font-size: 14px;
    }

    .course-details > .certificate {
        padding: 1rem;
    }

    .course-details p, .course-details li {
        font-size: 16px;
    }
}